/ActivationFunction.class
/DefaultTrainingData.class
/NetworkCreator.class
/NetworkTrainer.class
/NeuronalNetwork.class
/ProgramDeTest.class
/PropagationResult.class
/SigmoidFunction.class
/TrainingData.class
